@model TimeNotas.App.Models.HourPointConfigurationsModel
@using TimeNotes.Core.Enums
@using TimeNotas.App.Extensions;

@{
    ViewData["Title"] = "Configurations";
}

<div>
    <h4>@ViewData["Title"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDays)
        </dt>
        <dd class="col-sm-10">
            @(this.GetCurrentEnumDescription<DaysOfWeek>(((int)Model.WorkDays).ToString()))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankOfHours)
        </dt>
        <dd class="col-sm-10">
            @(this.GetCurrentEnumDescription<BankOfHoursType>(((int)Model.BankOfHours).ToString()))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeHour)
        </dt>
        <dd class="col-sm-10">
            @Model.OfficeHour.ToString(@"hh\:mm")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LunchTime)
        </dt>
        <dd class="col-sm-10">
            @Model.LunchTime.ToString(@"hh\:mm")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartWorkTime)
        </dt>
        <dd class="col-sm-10">
            @Model.StartWorkTime.ToString(@"hh\:mm")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToleranceTime)
        </dt>
        <dd class="col-sm-10">
            @Model.ToleranceTime.ToString(@"hh\:mm")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourValue)
        </dt>
        <dd class="col-sm-10">
            @Model.HourValue.ToString("C")
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
</div>
