@model TimeNotas.App.Models.Apontamentos

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatasHoras)
            </th>
            <th>
                Horas extras
            </th>
            <th>
                Horas faltantes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DatasHoras)
        {
        <tr>
            <td>
                @item.Key
            </td>
            <td>
                8:41
            </td>
            <td>
                1:49
            </td>
            @foreach (var apontamento in item.Value)
            {
                <td>
                    @Html.ActionLink(apontamento.ToString(), "Edit", new { apontamentoId = apontamento.Id })
                </td>
            }
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { apontamentoId = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { apontamentoId = item.Id })
        </td>*@
        </tr>
        }
    </tbody>
</table>
