@model IEnumerable<TimeNotas.App.Models.HourPointsModel>

@{
    ViewData["Title"] = "Hour Points";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">New point</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissingTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td title="@item.Date.DayOfWeek.ToString()">
                    @item.Date.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.ExtraTime.ToString(@"hh\:mm")
                </td>
                <td>
                    @item.MissingTime.ToString(@"hh\:mm")
                </td>
                @foreach (var timeEntry in item.TimeEntries.OrderBy(time => time.DateHourPointed))
                {
                    <td>
                        @Html.ActionLink(timeEntry.ToString(), "Edit", new { timeEntryId = timeEntry.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
