@model IEnumerable<TimeNotas.App.Models.HourPointsModel>

@{
    ViewData["Title"] = "Hour Points";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-5">
        <a class="btn btn-info" asp-action="Create">New point</a>
        <a class="btn btn-dark" asp-action="PointNow">Point now</a>
        <a class="btn btn-secondary" asp-action="AutoGenerateTimeEntriesToday">Auto generate points today</a>
    </div>
    <div class="col-md-3"></div>
    <form asp-action="Index" class="col-md-4" method="get">
        <div class="input-group mb-3">
            <input id="searchDate" name="searchDate" type="date" class="form-control"/>
            <div class="input-group-append">
                <button class="btn btn-outline-primary"><i class="fa fa-search"></i> Search</button>
            </div>
        </div>
    </form>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissingTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 5%; text-align: center;">
                    <a style="color: darkred" href="@Url.Action("DeleteHourPoints", new { hourPointsId = item.Id })"><i title="Delete" class="fas fa-trash-alt"></i></a>
                    <a href="@Url.Action("RecalculateTimes", new { hourPointsId = item.Id })"><i title="Recalculate times" class="fas fa-redo"></i></a>
                </td>
                <td title="@item.Date.DayOfWeek.ToString()">
                    @item.Date.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.ExtraTime.ToString(@"hh\:mm")
                </td>
                <td>
                    @item.MissingTime.ToString(@"hh\:mm")
                </td>
                @foreach (var timeEntry in item.TimeEntries.OrderBy(time => time.DateHourPointed))
                {
                    <td>
                        @Html.ActionLink(timeEntry.ToString(), "Edit", new { timeEntryId = timeEntry.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function search() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Search")',
            data: { searchDate: $('#searchDate').val() },
            error: function (e) {
                console.log(e)
            }
        })
    }
</script>